body {
    font-family: Arial;
    background-color: #eeeeee;
}

.container {
    width: 450px;
    margin: 40px auto;
    background-color: white;
    padding: 25px;
    border: 2px solid black;
}

h1 {
    text-align: center;
}

p {
    font-size: 16px;
}